.logo {
    top: 185px;
    right: 926px;
}

@media (min-width:640px) {
    .custom {
        right: 280px;
    }
}


.custom-desktop {
    top: 275px;
    right: 377px;
}

.logo2 {
    top: 220px;
    right: 183px;
}